<div>
  <h2><%= @netflix[:name] %></h2>
  <h3>Votes: <%= @netflix[:ranking] %></h3>
  <p>Description: <%= @netflix[:description] %></p>
</div>

<ul class="button-group">
  <li class="button"><%= button_to 'Upvote', netflixupvote_path(params[:id]), :class => "button", method: :post %></li>
  <br />
  <li class="button"><%= button_to 'Edit this suggestion', netflixedit_path(params[:id]), :class => "button", method: :get %></li>
  <li class="button"><%= button_to 'Delete this suggestion', netflixdestroy_path(params[:id]), :class => "button", method: :delete, data: {confirm: 'Are you sure you want to delete this suggestion? 😳'} %></li>
  <li class="button"><%= button_to 'View all Netflix suggestions', netflixindex_path, :class => "button", method: :get %></li>
  <li class="button"><%= button_to "Back to Meeeeedium's Home", homepageindex_path, :class => "button", method: :get %></li>
</ul>
