<%= form_for @book,
  url: action_name do |f| %>
<ul>
  <li><%= f.label :name %></li>
  <li><%= f.text_field :name %></li>

  <li><%= f.label :genre %></li>
  <li><%= f.text_field :genre %></li>

  <li><%= f.label :description %></li>
  <li><%= f.text_area :description %></li>

  <li><%= f.submit class: 'button' %>
</ul>

  <% end %>
