<!DOCTYPE html>
<html>
<head>
  <title>Meeeeedium Ranker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="row">
      <h1 class="small-11 medium-8 large-9 columns"><%= link_to(image_tag("Logomakr_4EOvqY.png", :alt => "logo", :title => "logo"), root_path) %></h1>
      <p class="small-10 medium-6 large-6 columns">a source for suggestions of three kinds</p>
    </nav>
  </header>

<%= yield %>

</body>
</html>
